html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientMove {
  animation: gradientMove 18s ease infinite;
}

.home-container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.member-list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.member-row {
  display: flex;
}

.member-row.left {
  justify-content: flex-start;
}

.member-row.right {
  justify-content: flex-end;
}

/* MOBILE */
@media (max-width: 768px) {
  .member-row {
    justify-content: center !important;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-text {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

body::after{
  content:"";
  position:fixed;
  inset:0;
  background:url("https://grainy-gradients.vercel.app/noise.svg");
  opacity:.08;
  pointer-events:none;
  z-index:-1;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes scaleIn {
  from { transform: scale(.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn .35s ease forwards;
}

.animate-scaleIn {
  animation: scaleIn .4s ease forwards;
}
